<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pharmascout.devhacks.pharmascout">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OptionsScreen" android:label="Options">
        </activity>

        <activity android:name=".SearchActivity">
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="mapsLabel">

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1Cu6CfZFz1NgyhgaKFshpfApvrWSA3M4" />

    </application>

</manifest>